---
title: Vérification du compte 8000038 PIBR enfants
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 01/24/2019
ms.locfileid: "29469073"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Date de naissance affiché dans votre compte Microsoft est incorrect

Microsoft prend très au sérieux la sécurité de compte. Vous avez pouvez récemment été invité à fournir le consentement parental pour le compte d’un enfant. Si vous avez besoin d’aide fournissant consentement parental ou mise à jour de la date de naissance sur un compte Microsoft, consultez [vérification de l’âge de consentement parental](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Pour plus d’informations concernant [consentement parents et enfants Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

