---
title: Vérification du compte 8000038 PIBR enfants
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919942"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="debfd-102">Date de naissance affiché dans votre compte Microsoft est incorrect</span><span class="sxs-lookup"><span data-stu-id="debfd-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="debfd-p101">Microsoft prend très au sérieux la sécurité de compte. Vous avez pouvez récemment été invité à fournir le consentement parental pour le compte d’un enfant. Si vous avez besoin d’aide fournissant consentement parental ou mise à jour de la date de naissance sur un compte Microsoft, consultez [vérification de l’âge de consentement parental](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="debfd-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="debfd-106">Pour plus d’informations concernant [consentement parents et enfants Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="debfd-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

