---
title: Vérification relative à l’Éducation
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205265"
---
# <a name="edu-verification"></a><span data-ttu-id="2a387-102">Vérification relative à l’Éducation</span><span class="sxs-lookup"><span data-stu-id="2a387-102">EDU verification</span></span>

<span data-ttu-id="2a387-103">Les demandes d’éligibilité académique sont dans la plupart des cas traitées dans un délai de 24 à 48 heures.</span><span class="sxs-lookup"><span data-stu-id="2a387-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="2a387-104">Certaines demandes peuvent nécessiter un examen plus approfondi et leur traitement peut prendre jusqu’à 10 jours ouvrables.</span><span class="sxs-lookup"><span data-stu-id="2a387-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="2a387-105">Une fois l’opération terminée, nous enverrons un message électronique indiquant le statut d’éligibilité de votre établissement scolaire.</span><span class="sxs-lookup"><span data-stu-id="2a387-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="2a387-106">**Important** Si vous avez quitté l’Assistant de vérification avant d’entrer un domaine, vous pouvez [relancer l’Assistant de vérification académique](https://go.microsoft.com/fwlink/p/?linkid=2135255) à tout moment pendant votre période d’évaluation gratuite.</span><span class="sxs-lookup"><span data-stu-id="2a387-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="2a387-107">Si vous souhaitez vérifier le statut de votre domaine, accédez au [Centre d’administration Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="2a387-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="2a387-108">Sur la page d’accueil, faites défiler vers le bas, puis recherchez la carte de **Facturation**.</span><span class="sxs-lookup"><span data-stu-id="2a387-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="2a387-109">La carte de **Facturation** indique l’état du processus de vérification (approuvé, en attente, refusé ou ajout de votre domaine).</span><span class="sxs-lookup"><span data-stu-id="2a387-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="2a387-110">Si votre demande est refusée, voir [Mon école n’est pas éligible. Que dois-je faire maintenant ?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="2a387-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>