---
title: Vérification relative à l’Éducation
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710337"
---
# <a name="edu-verification"></a>Vérification relative à l’Éducation

Les demandes d’éligibilité académique sont dans la plupart des cas traitées dans un délai de 24 à 48 heures. Certaines demandes peuvent nécessiter un examen plus approfondi et leur traitement peut prendre jusqu’à 10 jours ouvrables. Une fois l’opération terminée, nous enverrons un message électronique indiquant le statut d’éligibilité de votre établissement scolaire.

**Important** Si vous avez quitté l’Assistant de vérification avant d’entrer un domaine, vous pouvez [relancer l’Assistant de vérification académique](https://go.microsoft.com/fwlink/p/?linkid=2135255) à tout moment pendant votre période d’évaluation gratuite.

Si vous souhaitez vérifier le statut de votre domaine, accédez au [Centre d’administration Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Sur la page d’accueil, faites défiler vers le bas, puis recherchez la carte de **Facturation**. La carte de **Facturation** indique l’état du processus de vérification (approuvé, en attente, refusé ou ajout de votre domaine).

Si votre demande est refusée, voir [Mon école n’est pas éligible. Que dois-je faire maintenant ?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)