---
title: Vérification relative à l’Éducation
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814370"
---
# <a name="edu-verification"></a>Vérification relative à l’Éducation

Les demandes d’éligibilité académique sont dans la plupart des cas traitées dans un délai de 24 à 48 heures. Certaines demandes peuvent nécessiter un examen plus approfondi et leur traitement peut prendre jusqu’à 10 jours ouvrables. Une fois l’opération terminée, nous enverrons un message électronique indiquant le statut d’éligibilité de votre établissement scolaire.

**Important** Si vous avez quitté l’Assistant de vérification avant d’entrer un domaine, vous pouvez [relancer l’Assistant de vérification académique](https://go.microsoft.com/fwlink/p/?linkid=2135255) à tout moment pendant votre période d’évaluation gratuite.

Si vous souhaitez vérifier le statut de votre domaine, accédez au [Centre d’administration Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Sur la page d’accueil, faites défiler vers le bas, puis recherchez la carte de **Facturation**. La carte de **Facturation** indique l’état du processus de vérification (approuvé, en attente, refusé ou ajout de votre domaine).

Si votre demande est refusée, voir [Mon école n’est pas éligible. Que dois-je faire maintenant ?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)