---
title: 8000038 RGPD de vérification de compte enfant
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400967"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La date de naissance affichée dans votre compte Microsoft est incorrecte

Microsoft prend la sécurité des comptes très sérieusement. Vous avez peut-être été invité récemment à fournir un consentement parental pour le compte Microsoft d'un enfant. Si vous avez besoin d'aide pour fournir un consentement parental ou mettre à jour la date de naissance sur un compte Microsoft, consultez la rubrique âge de la [vérification du consentement parental](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
En savoir plus sur le [consentement parental et les comptes enfants de Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

