---
title: 8000038 RGPD de vérification de compte enfant
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524409"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La date de naissance affichée dans votre compte Microsoft est incorrecte

Microsoft prend la sécurité des comptes très sérieusement. Vous avez peut-être été invité récemment à fournir un consentement parental pour le compte Microsoft d’un enfant. Si vous avez besoin d’aide pour fournir un consentement parental ou mettre à jour la date de naissance sur un compte Microsoft, consultez la rubrique âge de la [vérification du consentement parental](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
En savoir plus sur le [consentement parental et les comptes enfants de Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  