---
title: 8000038 RGPD de vérification de compte enfant
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707961"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="5a033-102">La date de naissance affichée dans votre compte Microsoft est incorrecte</span><span class="sxs-lookup"><span data-stu-id="5a033-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="5a033-103">Microsoft prend la sécurité des comptes très sérieusement.</span><span class="sxs-lookup"><span data-stu-id="5a033-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="5a033-104">Vous avez peut-être été invité récemment à fournir un consentement parental pour le compte Microsoft d’un enfant.</span><span class="sxs-lookup"><span data-stu-id="5a033-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="5a033-105">Si vous avez besoin d’aide pour fournir un consentement parental ou mettre à jour la date de naissance sur un compte Microsoft, consultez la rubrique âge de la [vérification du consentement parental](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="5a033-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="5a033-106">En savoir plus sur le [consentement parental et les comptes enfants de Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="5a033-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  