---
title: 8000038 de compte enfant R GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056992"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La date de naissance affichée dans votre compte Microsoft est incorrecte

Microsoft prend la sécurité en compte très au sérieux. Vous avez peut-être récemment été invité à fournir le consentement parental pour le compte Microsoft d’un enfant. Si vous avez besoin d’aide pour fournir le consentement parental ou mettre à jour la date de naissance sur un compte Microsoft, consultez vérification de l’âge pour [le consentement parental.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
En savoir plus sur [le consentement parental et les comptes enfants Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  