---
title: Résoudre les problèmes de vérification dans l’éditeur
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875361"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="a5259-102">Problèmes liés à la vérification Publisher pour les développeurs</span><span class="sxs-lookup"><span data-stu-id="a5259-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="a5259-103">**Étapes recommandées**</span><span class="sxs-lookup"><span data-stu-id="a5259-103">**Recommended steps**</span></span> 

<span data-ttu-id="a5259-104">Pour résoudre les problèmes liés à la vérification de l’éditeur, effectuez les étapes ci-dessous :</span><span class="sxs-lookup"><span data-stu-id="a5259-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="a5259-105">Examinez les conditions préalables et les autres conditions requises pour vous assurer qu’elles sont toutes remplies.</span><span class="sxs-lookup"><span data-stu-id="a5259-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="a5259-106">Examinez les instructions pour [marquer une application comme vérifié par l’éditeur](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) et assurez-vous que toutes les étapes ont été effectuées correctement.</span><span class="sxs-lookup"><span data-stu-id="a5259-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="a5259-107">Examinez la liste des [problèmes courants](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) et suivez les étapes recommandées si vous avez un problème dans une telle liste.</span><span class="sxs-lookup"><span data-stu-id="a5259-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="a5259-108">Reproduisez la demande à l’aide de [l’afficheur graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) pour recueillir des informations supplémentaires et écarter tout problème dans l’interface utilisateur.</span><span class="sxs-lookup"><span data-stu-id="a5259-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="a5259-109">**Documents recommandés**</span><span class="sxs-lookup"><span data-stu-id="a5259-109">**Recommended documents**</span></span>

- [<span data-ttu-id="a5259-110">Vérification Publisher : Vue d’ensemble</span><span class="sxs-lookup"><span data-stu-id="a5259-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="a5259-111">Marquer votre application comme vérifié par l’éditeur</span><span class="sxs-lookup"><span data-stu-id="a5259-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="a5259-112">Résoudre les problèmes de vérification dans l’éditeur</span><span class="sxs-lookup"><span data-stu-id="a5259-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

