---
title: Résoudre les problèmes de vérification dans l’éditeur
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: eb406eef2ac4e1bcebffcca91ec8706ac3c7a7f1b4c58a5da3a4e386b55700fb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54007978"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problèmes liés à la vérification Publisher pour les développeurs

**Étapes recommandées** 

Pour résoudre les problèmes liés à la vérification de l’éditeur, effectuez les étapes ci-dessous :

1. Examinez les conditions préalables et les autres conditions requises pour vous assurer qu’elles sont toutes remplies.
2. Examinez les instructions pour [marquer une application comme vérifié par l’éditeur](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) et assurez-vous que toutes les étapes ont été effectuées correctement.
3. Examinez la liste des [problèmes courants](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) et suivez les étapes recommandées si vous avez un problème dans une telle liste.
4. Reproduisez la demande à l’aide de [l’afficheur graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) pour recueillir des informations supplémentaires et écarter tout problème dans l’interface utilisateur.

**Documents recommandés**

- [Vérification Publisher : Vue d’ensemble](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Marquer votre application comme vérifié par l’éditeur](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Résoudre les problèmes de vérification dans l’éditeur](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

